0
1/*.tst
1/*.cmp
1/*.out
2/*.tst
2/*.cmp
2/*.out
3/a/*.tst
3/a/*.cmp
3/b/*.tst
3/b/*.cmp
4/fill/*
!4/fill/*.asm
4/mult/*
!4/mult/*.asm
5/*
!5/*.hdl
6/.vscode
6/add
6/max
6/pong
6/rect
6/*.hack
6/*.asm
7
8
9
10
11
12
13
